<div class="container-schedule">
    <div *ngFor="let src of lstDataSources">
        <h4> Scheduled flights for day</h4>
        <mat-table [dataSource]="src" class="mat-elevation-z8">
            <ng-container matColumnDef="flight_number">
                <mat-header-cell *matHeaderCellDef>Flight</mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Flight">{{row.flight_number}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="departure_city">
                <mat-header-cell *matHeaderCellDef>Departure</mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Departure">{{row.departure_city}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="arrival_city">
                <mat-header-cell *matHeaderCellDef>Arrival</mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Arrival">{{row.arrival_city}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>View Flight</mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Flight">
                    <div>
                        <button type="button">VIEW FLIGHT</button>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
        </mat-table>
    </div>
</div>